
<h1 mat-dialog-title>Please provide document details</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Document Name</mat-label>
    <input [formControl]="docNameController" matInput placeholder="Document name">
    <mat-error *ngIf="docNameController.hasError('required')">This is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea [formControl]="docCommentController"  matInput placeholder="Please leave a comment if any"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [disabled]="!docNameController.valid" color="primary" (click)="close()">Ok</button>
</div>
