

<div class="navbar-default">
  <ul>
    <li><p (click)="goToHome()">Home</p></li>
    <li>
      <p>This application works best in Google Chrome</p>
    </li>
  </ul>
</div>

<div class ="ppp-botw-logo-parent">
  <span class="logoImg" >
  <img class="img-responsive" src ="https://via.placeholder.com/250X100" alt="">
  </span>

  <h1>Paycheck Protection Form</h1>
</div>

<botw-ppp-support (canClose)="processEvent($event)"></botw-ppp-support>

  <div class="botw-footer-ppp">
    <p>&copy; 2020 Your Company <span aria-hidden="true">|
    </span> NMLS# XXXXX<span aria-hidden="true">|</span> Member FDIC <span aria-hidden="true">|
    </span> XXXXX XXXXX XXXXX<mat-icon class="botw-home-ppp">home</mat-icon>
    </p>
    <p>Doing business XXXX.</p>
  </div>
